@charset "utf-8";
/* CSS Document */

body{
	background-color: #D9E8FC;
}

/********************************** Classes ********/

/*
.sticky{
  position: -webkit-sticky;  Safari 
  position: sticky;
  top: 0;
}
*/

.intro{
	background-color:cornflowerblue;
}

.main{
	background-color: #8792A1;
	max-width: 80%;
	margin: auto;
}

.bg-mine{
	background-color: #1D64C2;
}


/********************************** Sections ********/

header{
	background-color: #363738;
	color: white;
	padding: 10px;
	font-family: 'Lato', sans-serif;
}

section{
	overflow: hidden;
	font-family: 'Teko', sans-serif;
}

section img{
	margin: 20px
}

section ul{
	 list-style-type: none;
}

/********************************** Nav ********/
/*

nav ul {
  list-style-type: none;
  margin: 0px;
  padding: 0px 5px;
  overflow: hidden;
  background-color: #1D64C2;
}

nav li {
  float: left;
  color: white;
}

nav li a {
  display: block;
 
  text-align: center;
  padding: 10px 16px;
  text-decoration: none;
}

nav li a:link{
	color: white;
}
nav li a:visited{
	color: rebeccapurple;
}
nav li a:hover {
  	background-color: #91531A;
}
nav li a:active{
	background-color: #FF6500;
}
*/

/********************************** Footer ********/

footer{
	background-color: #1D64C2;
	text-align: right;
	padding: 20px;
	overflow: hidden;
}
footer img{
	margin: 0;
}

